#results {
    display: none;
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
#results.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#results .show-score {
  font-size: 2.7rem;
  color: var(--primary-color);
  margin: 20px;
  text-align: center;
  font-weight: 900;
}
#results .show-answers {
  backdrop-filter: blur(15px);
  border: 3px solid var(--primary-color);
  border-radius: 25px;
  padding: 20px;
  width: 80%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
  transition: all 0.5s ease-in-out 0.5s;
  -webkit-transition: all 0.5s ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out 0.5s;
  -ms-transition: all 0.5s ease-in-out 0.5s;
  -o-transition: all 0.5s ease-in-out 0.5s;
}
#results .show-answers .result {
  min-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#results .show-answers .question {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 25px;
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#results .show-answers .options {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
@media (min-width: 768px) {
  #results .show-answers .options {
    grid-template-columns: 1fr 1fr;
  }
}
#results .show-answers .options button.option {
  font-size: 1rem;
  border: var(--primary-color) 2px solid;
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
#results .options .option.wrong {
  border: 3px solid rgba(255, 0, 0, 0.75) !important;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

#results .show-answers .options button.option.correct {
  border: 3px solid rgba(0, 128, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}
#results .show-answers .question h3{
    position: relative;
}
#results .show-answers .question h3 span{
    position: absolute;
    top: -5px;
    right: 0;
    color: white;
    font-size: 0.95rem;
    border: 2px solid white;
    padding: 7px;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
