*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #3B60F6;
    --secondary-color: #7DAEFD;
    --background-body : #e6ebf5ff;
    --button-color : #1d1463ff;
}
body {
    background-color: var(--background-body);
    font-family: 'Roboto', sans-serif;
}